/* default styles */
.btn-default {
  color: #fff;
  background: #000;
  padding: 16px 42px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

/* loading styles */
.loading-screen {
  z-index: 3;
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-screen img {
  height: 100px;
  width: auto;
}

.loading-screen p {
  font-size: 18px;
  line-height: 30px;
}

/* navbar styles */
.navbar {
  z-index: 1;
  background: #fafafa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

.navbar-container {
  width: 1200px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 50px;
  width: auto;
}

.logo-container p {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-left: 12px;
}

.navbar-btn {
  position: absolute;
  right: 0;
}

/* main component styles */
.main {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* landing page styles */
.landing-container {
  max-width: 700px;
}

.landing-container p {
  font-size: 18px;
  line-height: 30px;
}
